:root {
    --calendar-bg-color: #FFFFFF;
    --calendar-font-color: #282D86;
    --weekdays-border-bottom-color: #d6d4d4;
    --calendar-date-hover-color: #282D86;
    --calendar-current-date-color: #f7941e;
    --calendar-today-color: #ffe6c7;
    --calendar-today-border-color: #f7941e;
    --calendar-today-innerborder-color: transparent;
    --calendar-nextprev-bg-color: transparent;
    --next-prev-arrow-color: #282D86;
    --calendar-border-radius: 16px;
    --calendar-border-inner-radius: 50%;
    --calendar-prevnext-date-color: #d6d4d4;


    /* --calendar-bg-color: #262829;
    --calendar-font-color: #FFF;
    --weekdays-border-bottom-color: #404040;
    --calendar-date-hover-color: #505050;
    --calendar-current-date-color: #1b1f21;
    --calendar-today-color: linear-gradient(-45deg, #03a9f4, #a72edf);
    --calendar-today-innerborder-color: transparent;
    --calendar-nextprev-bg-color: transparent;
    --next-prev-arrow-color: #FFF;
    --calendar-border-radius: 16px;
    --calendar-prevnext-date-color: #484848 */
}

* {
    padding: 0;
    margin: 0;
}

.calendar {
    font-family: inherit, sans-serif;
    position: relative;
    max-width: 400px;
    /*change as per your design need */
    min-width: 320px;
    background: var(--calendar-bg-color);
    color: var(--calendar-font-color);
    box-sizing: border-box;
    overflow: hidden;
    font-weight: normal;
    border-radius: var(--calendar-border-radius);
}

.calendar-inner {
    padding: 10px 10px;
}

.calendar .calendar-inner .calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.calendar .calendar-inner .calendar-body div {
    padding: 4px;
    min-height: 30px;
    line-height: 30px;
    border: 1px solid transparent;
    margin: 10px 2px 0px;
}

.calendar .calendar-inner .calendar-body .weekdays {
    border: 1px solid transparent;
    border-bottom: 1px solid var(--weekdays-border-bottom-color);
}

.calendar .calendar-inner .calendar-body .weekdays:hover {
    border: 1px solid transparent;
    border-bottom: 1px solid var(--weekdays-border-bottom-color);
    border-radius: 0;
}

.calendar .calendar-inner .calendar-body div>a {
    color: var(--calendar-font-color);
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.calendar .calendar-inner .calendar-body div:hover {
    border: 1px solid var(--calendar-date-hover-color);
    border-radius: var(--calendar-border-inner-radius);
}

.calendar .calendar-inner .calendar-body div.empty-dates:hover {
    border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.calendar .calendar-inner .calendar-today-date {
    display: grid;
    text-align: center;
    cursor: pointer;
    margin: 3px 0px;
    /* background: var(--calendar-current-date-color); */
    color: var(--calendar-current-date-color);
    border: 1px solid var(--calendar-current-date-color);
    padding: 8px 0px;
    border-radius: 10px;
    width: 100%;
    margin: auto;
}

.calendar .calendar-inner .calendar-controls .calendar-year-month {
    display: flex;
    min-width: 100px;
    justify-content: space-between;
    align-items: center;
}

.calendar .calendar-inner .calendar-controls .calendar-next {
    text-align: right;
}

.calendar .calendar-inner .calendar-controls .calendar-year-month .calendar-year-label,
.calendar .calendar-inner .calendar-controls .calendar-year-month .calendar-month-label {
    font-weight: 500;
    font-size: 20px;
}

.calendar .calendar-inner .calendar-body .calendar-today {
    background: var(--calendar-today-color);
    border: 1px solid var(--calendar-today-border-color);
    border-radius: var(--calendar-border-inner-radius);
}

.calendar .calendar-inner .calendar-body .calendar-today:hover {
    background: var(--calendar-today-border-color);
    border: 1px solid var(--calendar-today-border-color);
}

.calendar .calendar-inner .calendar-body .calendar-today a {
    background: transparent;
    outline: 1px solid var(--calendar-today-innerborder-color);
}

.calendar .calendar-inner .calendar-controls .calendar-next a,
.calendar .calendar-inner .calendar-controls .calendar-prev a {
    color: var(--calendar-font-color);
    padding: 4px ;
    text-decoration: none;
    background: var(--calendar-nextprev-bg-color);
    /* font-family: arial, consolas, sans-serif; */
    /* font-size: 26px; */
    /* display: inline-block; */
    /* margin: 10px 0 10px 0; */
}

.calendar .calendar-inner .calendar-controls .calendar-next a svg,
.calendar .calendar-inner .calendar-controls .calendar-prev a svg {
    height: 15px;
    width: 15px;
}

.calendar .calendar-inner .calendar-controls .calendar-next a svg path,
.calendar .calendar-inner .calendar-controls .calendar-prev a svg path {
    fill: var(--next-prev-arrow-color);
}

.calendar .calendar-inner .calendar-body .prev-dates,
.calendar .calendar-inner .calendar-body .next-dates {
    color: var(--calendar-prevnext-date-color);
}

.calendar .calendar-inner .calendar-body .prev-dates:hover,
.calendar .calendar-inner .calendar-body .next-dates:hover {
    border: 1px solid transparent;
    pointer-events: none;
}